﻿<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>@ViewBag.Title</title>

    <!-- CSS -->
    <link rel="stylesheet" href="~/Content/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/Content/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/Content/css/magnific-popup.css">
    <link rel="stylesheet" href="~/Content/css/animate.css">
    <link rel="stylesheet" href="~/Content/css/slick.css">
    <link rel="stylesheet" href="~/Content/css/jplayer.css">
    <link rel="stylesheet" href="~/Content/css/main.css">
    <link rel="stylesheet" href="~/Content/css/responsive.css">

    <!-- fonts -->
    <link href="https://fonts.googleapis.com/css?family=Raleway:100,300,400,500,600,700,800%7CRoboto:100,300,400,500,700,900%7CSignika+Negative:300,400,600,700" rel="stylesheet">

    <!-- icons -->
    <link rel="icon" href="~/Content/images/ico/mti-logo.ico">
    <link rel="apple-touch-icon" sizes="144x144" href="~/Content/images/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon" sizes="114x114" href="~/Content/images/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon" sizes="72x72" href="~/Content/images/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon" sizes="57x57" href="~/Content/images/ico/apple-touch-icon-57-precomposed.png">
    <!-- icons -->
</head>
<body class="homepage-2">
    <div class="main-wrapper tr-page-top">
        <div class="container-fluid">
            @Html.Action("Topbar", "Home")

            <div class="tr-menu menu-responsive">
                <nav class="navbar navbar-default">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                    </div>
                    <!-- /navbar-header -->

                    <div class="collapse navbar-left navbar-collapse" id="navbar-collapse">
                        <ul class="nav navbar-nav">
                            <li class="dropdown active">@Html.ActionLink("Inicio", "Index", "Home")</li>
                            <li>@Html.ActionLink("Mundo", "World", "Home")</li>
                            <li>@Html.ActionLink("Tecnología", "Technology", "Home")</li>
                            <li>@Html.ActionLink("Negocios", "Business", "Home")</li>
                            <li>@Html.ActionLink("Política", "Politics", "Home")</li>
                        </ul>
                    </div>
                </nav><!-- navbar -->
            </div><!-- /tr-menu -->	
            <div>
                @RenderBody()
            </div>
        </div>
    </div>

    <!-- JS -->
    <script src="~/Content/js/jquery.min.js"></script>
    <script src="~/Content/js/bootstrap.min.js"></script>
    <script src="~/Content/js/marquee.js"></script>
    <script src="~/Content/js/moment.min.js"></script>
    <script src="~/Content/js/theia-sticky-sidebar.js"></script>
    <script src="~/Content/js/jquery.jplayer.min.js"></script>
    <script src="~/Content/js/jplayer.playlist.min.js"></script>
    <script src="~/Content/js/slick.min.js"></script>
    <script src="~/Content/js/carouFredSel.js"></script>
    <script src="~/Content/js/jquery.magnific-popup.js"></script>
    <script src="~/Content/js/main.js"></script> 
</body>
</html>
