﻿@model IEnumerable<MTIWebNoticias.Models.NoticiaModel>

<div class="tr-topbar clearfix margin-bottom-0">
    <div class="row">
        <div class="col-sm-3">
            <a class="navbar-brand" href="@Url.Action("Index")"><img class="img-responsive" src="~/Content/images/mti-logo.png" alt="Logo"></a>
        </div>
        <div class="col-sm-9">
            <div class="topbar-left">
                <div class="breaking-news">
                    <span>#HermesNews</span>
                    <div id="ticker">
                        <ul>
                            @foreach (var item in Model)
                            {
                                <li>@Html.ActionLink(String.Format("{0} - {1}", item.Categoria, item.Titulo), item.ControladorWeb, "Home")</li>
                            }
                        </ul>
                    </div>
                </div><!-- breaking-news -->
            </div><!-- /.topbar-left -->
        </div>
    </div><!-- /.row -->
</div><!-- /.tr-topbar -->	