﻿@model IEnumerable<MTIWebNoticias.Models.NoticiaModel>
@{
    ViewBag.Title = "Inicio";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="tr-home-slider home-slider-1 tr-section">
    <div id="home-carousel" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
            @foreach (var item in Model.Select((element, index) => new { Index = index, Element = element }))
            {
                <li data-target="#home-carousel" data-slide-to="@item.Index" class="@(item.Index > 0 ? "" : "active")">
                    <span class="catagory">@item.Element.Categoria</span>
                    <span class="indicators-title">@item.Element.Titulo</span>
                </li>
            }
        </ol>

        <div class="carousel-inner" role="listbox">
            @foreach (var item in Model.Select((element, index) => new { Index = index, Element = element }))
            {
                <div class="item @(item.Index > 0 ? "" : "active")" style="background-image: url(@item.Element.ImagenPortada)">
                    <div class="post-content" data-animation="animated fadeInDown">
                        <span class="catagory" data-animation="animated fadeInDown"><a href="#">@item.Element.Categoria</a></span>
                        <h2 class="entry-title" data-animation="animated fadeInDwn">
                            <a href="@Url.Action(item.Element.ControladorWeb)">@item.Element.Titulo</a>
                        </h2>
                        <div class="entry-meta" data-animation="animated fadeInDwn">
                            <ul>
                                <li>Por <a href="#">@item.Element.Autor</a></li>
                                <li><a href="#"> @item.Element.FechaPublicacion</a></li>
                            </ul>
                        </div>
                        <p data-animation="animated fadeInUp">@item.Element.Resumen</p>
                        <div class="read-more" data-animation="animated fadeInUp">
                            <div class="continue-reading pull-left">
                                <a href="@Url.Action(item.Element.ControladorWeb)">Continuar Leyendo <i class="fa fa-angle-right"></i></a>
                            </div>
                            <div class="feed pull-right">
                                <ul>
                                    <li>Compartir</li>
                                    <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                                    <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                                    <li><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
                                    <li><a href="#"><i class="fa fa-rss" aria-hidden="true"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div><!-- /.post-content -->
                </div>
            }
        </div>
    </div>
</div>