﻿@model IEnumerable<MTIWebNoticias.Models.NoticiaModel>
@{
    ViewBag.Title = "Mundo";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@foreach (var noticia in Model)
{
    <div class="tr-content details-fulid" itemscope itemtype="http://schema.org/NewsArticle">
        <div hidden><h2 itemprop="articleSection">@noticia.ControladorWeb</h2></div>
        <div hidden><h2 itemprop="addressLocality">@noticia.Ciudad</h2></div>
        <div hidden><h2 itemprop="addressCountry">@noticia.Pais</h2></div>
        <div class="tr-section text-center">
            <div class="tr-post">
                <div class="entry-header">
                    <div class="entry-thumbnail">
                        <img itemprop="image" class="img-responsive" src="@noticia.ImagenPortada" alt="Image">
                    </div>
                </div>
                <div class="post-content">
                    <div class="author">
                        <img class="img-responsive img-circle" src="@noticia.ImagenAutor" style="background-color:white" alt="Image">
                    </div>
                    <div class="entry-meta">
                        <ul>
                            <li>Por <span itemprop="author">@noticia.Autor</span></li>
                            <li><span itemprop="datePublished">@noticia.FechaPublicacion</span></li>
                            <li>
                                <ul>
                                    <li>Compartir</li>
                                    <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                                    <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                                    <li><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
                                    <li><a href="#"><i class="fa fa-rss" aria-hidden="true"></i></a></li>
                                </ul>
                            </li>
                        </ul>
                    </div><!-- /.entry-meta -->
                    <h2 class="entry-title">
                        @noticia.Titulo
                    </h2>
                </div><!-- /.post-content -->
            </div><!-- /.tr-post -->
            <div class="tr-details">
                <p itemprop="articleBody">@noticia.Cuerpo</p>
                <div class="social">
                    <ul class="list-inline">
                        <li><a href="#"><img class="img-responsive" src="~/Content/images/others/social1.png" alt="Image"></a></li>
                        <li><a href="#"><img class="img-responsive" src="~/Content/images/others/social2.png" alt="Image"></a></li>
                        <li><a href="#"><img class="img-responsive" src="~/Content/images/others/social3.png" alt="Image"></a></li>
                        <li><a href="#"><img class="img-responsive" src="~/Content/images/others/social4.png" alt="Image"></a></li>
                    </ul>
                </div>
            </div><!-- /.tr-details -->
        </div><!-- /.tr-section -->
    </div>
}